@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title></title>
</head>
<body>
    <div>
        <h1>Изменение данных студента</h1>
        <form method="post" action="">            
            <table>
                <tr>
                    <td><p>Введите имя студента</p></td>
                    <td><input type="text" name="firstname" value="@ViewBag.FirstName" /> </td>
                </tr>
                <tr>
                    <td><p>Введите фамилию студента</p></td>
                    <td><input type="text" name="lastname" value="@ViewBag.Lastname" /> </td>
                </tr>
                <tr>
                    <td><p>Введите номер группы студента</p></td>
                    <td><input type="text" name="group" value="@ViewBag.Group" /> </td>
                </tr>                
                <tr>
                    <td><p>Оценка по Windows Forms Course</p></td>
                    <td><input type="text" name="winFormAssessment" value="@ViewBag.WinFormAssessment" /> </td>
                </tr>
                <tr>
                    <td><p>Оценка по C# Course</p></td>
                    <td><input type="text" name="cAssessment" value="@ViewBag.CAssessment" /> </td>
                </tr>
                <tr>
                    <td><p>Оценка по Transact SQL Course</p></td>
                    <td><input type="text" name="aspAssessment" value="@ViewBag.AspAssessment" /> </td>
                </tr>
                <tr>
                    <td><p>Оценка по ASP.NET Course</p></td>
                    <td><input type="text" name="sqlAssessment" value="@ViewBag.SqlAssessment" /> </td>
                </tr>
                <tr>
                    <td><p>Оценка по ADO.NET Course</p></td>
                    <td><input type="text" name="adoAssessment" value="@ViewBag.AdoAssessment" /> </td>
                </tr>
                <tr><td><input type="submit" value="Изменить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>

